.szh-menu {
  background-color: var(--bs-body-bg) !important;
  border-radius: 8px !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
  padding: 8px !important;
  color: var(--bs-body-color) !important;

  &__item {
    background: var(--bs-body-bg) !important;
    color: var(--bs-dark) !important;
    font-size: 0.95rem !important;
    border-radius: 8px !important;
    padding: 8px !important;

    &--type-radio , &--type-checkbox {
      &::before {
        content: none !important;
      }

      &.szh-menu__item--checked {
        background: var(--bs-primary) !important;
        color: var(--bs-light) !important;
      }
    }

    &--hover {
      background: var(--bs-gray-200) !important;
      color: var(--bs-primary) !important;
    }

    &--submenu {
      position: relative !important;

      &::after {
        content: url("../../../public/assets/icons/chevron-left.svg") !important;
        position: absolute !important;
        font-size: 0.95rem !important;
        right: calc(100% - 16px) !important;
        color: var(--bs-dark) !important;
      }
    }
  }
}