.popup-content {
  width: max-content!important;
  background: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  box-shadow: var(--bs-box-shadow-sm) !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px !important;
}