

* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--bs-scrollbar-color) transparent !important;
}

.pe-30 {
  padding-left: 10rem !important;
}

.w-max {
  width: max-content !important;
}

.border-solid {
  border-style: solid !important;
}